<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.Settings.launcher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Launcher.launcher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.Settings.launcher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Launcher.Settings.launcher>
            <setting name="UserName" serializeAs="String">
                <value>panasonic</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>unbreakab1e</value>
            </setting>
            <setting name="Encode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher.Settings.launcher>
    </userSettings>
    <applicationSettings>
        <Launcher.Settings.launcher>
            <setting name="RemoteIP" serializeAs="String">
                <value>76.234.105.233</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>10300</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>10400</value>
            </setting>
            <setting name="RC4" serializeAs="String">
                <value>Origins</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>origins.dll</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Origins</value>
            </setting>
            <setting name="UseConnect" serializeAs="String">
                <value>True</value>
            </setting>
        </Launcher.Settings.launcher>
    </applicationSettings>
</configuration>